@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", "sans-serif";
}

.notion-page-icon {
  font-family: "Noto Sans KR", "sans-serif";
}

:root {
  --color-primary: #ff8694;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0);
  --rsbs-handle-bg: #ff8694;
}

#__next {
  height: 100%;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.2) 1px,
    rgba(255, 0, 0, 0.3) 1px,
    rgba(255, 0, 0, 0.3) 20px
  );
}


#gradient-effect-text {
  background: linear-gradient(
      to right,
      #E0115F 20%,
      #FFBF00 30%,
      #F33A6A 70%,
      #E49B0F 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}